/* .crisp-client .cc-tlyw .cc-qfnu {
  background-color: var(--primaryColor)!important;
} */


.crisp-client .cc-tlyw[data-full-view=true] .cc-kxkl .cc-nsge {
  bottom: 90px !important;
}

@media (min-width: 1024px) {
  .crisp-client .cc-tlyw[data-full-view=true] .cc-kxkl .cc-nsge {
    bottom: 16px !important;
  }
}