@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan;
  src: url("../fonts/Yekan.woff") format("woff");
}

body {
  font-family: Yekan!important;
}

.rtl {
  direction: rtl;
}

.btn {
  color: white!important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all .3s;
}

.inputNumber::-webkit-outer-spin-button, .inputNumber::-webkit-inner-spin-button { display: none; }

.swiper-button-disabled { opacity: .3!important; }

.swiper-paginationPersons .swiper-pagination-bullet-active {
  width: 25px;
}

.swiper-paginationPersons span { 
  background-color: #7d7878;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.navMain {
  top: 20px;
  width: 95%;
  border-radius: 16px;
  margin: auto;
}

.postCard:hover h3{
  color: var(--primaryColor)!important;
}

.inputVila::after {
  background-color: var(--primaryColor)!important;
}

.contactInput input:focus-within{
  border-bottom-color: var(--primaryColor)!important;
}

.contactInput input:focus-within + label{
  color: var(--primaryColor)!important;
}

.toggleBtn:checked + div {
  background-color: var(--primaryColor)!important;
}

.formCommentInput:focus-within {
  border-color: var(--primaryColor)!important;
}

.formCommentInput:focus-within + label {
  color: var(--primaryColor)!important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}